:root{
    --background-color : whitesmoke;
    --background-gray : rgb(50, 50, 50 , 0.7);
    --tem-green-color : rgb(0 , 100 , 60);
    --tem-ros-red : #640028;
    --tem-light-green: #00b96f;
}

body{

    direction: rtl;

    background-color: var(--background-color);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{

    text-decoration: none;
}

.big-holder{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    width: 100%;

    padding-top: 50px;
}

.main-holder{
    position: relative;

    display: grid;
    grid-template-columns: 18% 62% 18%;
    grid-gap: 1%;

    justify-items: top;

    box-sizing: border-box;
    width: 100%;

    padding: 1rem;

}

.center-holder{

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;

    box-sizing: border-box;
    padding: 1rem;

    border: solid var(--background-gray) 2px;
}

.title-holder{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    background-image: linear-gradient(to right, #0066ff55 1%,#0066ff77 21%, #00cc0088 37%, #ffff0088 65%, #ff000055 77%);
}

.product-holder{

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 7px;

    box-sizing: border-box;
    width: 100%;

    border-bottom: solid var(--tem-green-color) 2px;

    background-repeat: no-repeat;
    background-position:center;
    background-attachment: local;
    background-color: #92aba7c2;
    background-blend-mode:screen;

    transition-duration: 0.5s;
}

.product-holder:hover{
    background-color:#131313c2;
}

.info-holder{
    display: flex;
    align-items: center;
    justify-content: space-around;

    gap: 10px;

    box-sizing: border-box;
    width: 100%;

    padding: 7px;
}

.image-holder{

    position: relative;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 400px;
    height: 350px;

    border: solid none none;

    color: white;
}

.image-holder:hover .image-tem{
    transition-duration: 0.5s;

    box-shadow: 5px -10px 10px rgba(100, 100, 100, 0.525);
    background-color: var(--tem-light-green);
}

.image-holder>img{
    height: 100%;
}

.image-tem{
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 100%;
    max-height: 30px;

    background-color: var(--background-gray);

    border: inherit;

}

.image-holder .image-title{
    position: absolute;
    top: 0px;

    box-shadow: 5px 10px 20px rgb(12, 33, 33);
    border-radius: 0px 0px 20px 20px;
}

.image-holder .image-footer{
    position: absolute;
    bottom: 0px;

    box-shadow: 5px -10px 20px rgb(12, 33, 33);
}

.cast-holder{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding: 20px;
    min-width: 300px;
    min-height: 300px;

    border: solid none none;
    border-radius: 30px;

    box-shadow: 3px 3px 20px rgba(12, 33, 33, 0.525);

    background-color: #ccff3388;
}

.text-holder{

    box-sizing: border-box;
    padding: 3%
}

